.main-header {
  padding: 5%;
  height: 400px;
  width: 100vw;  
  text-align: center;
  background-color: #b09030;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  height: auto;
}

.main-picture {
  width: 30%;
  height: auto;
}