nav {
  position: sticky;
  top: 0;
  height: 120px;
  width: 100vw;
  z-index: 9000;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee';
}

.write-new-tweet-button {
  background-color: inherit;
  border: none;
  color: white;
  font-family: 'Bungee';
}