.new-tweet {
  width: 90%;
  padding: 5%;
}

form textarea {
  border: none;
  border-bottom: solid;
  width: 100%;
  background-color: #f4f1ec;
  padding-top: 10%;
}

.counter {
  float: right;
  font-family: 'Bungee';
}

form button {
  float: left;
  font-family: 'Bungee';
  background-color: midnightblue;
  color: #f4f1ec;
  padding: 0.2em 0.5em;
}

.red {
  color: red;
}

.error-message {
  display: flex;
  color: red;
  justify-content: center;
}