#tweet-container {
  width: 90%;
}

.tweet {
  border: 4px solid grey;
  width: 90%;
  padding: 2%;
  margin: 20px auto;
}
.tweet:hover {
  box-shadow: 10px 10px 15px indianred;
  text-shadow: 1px 1px 2px black;
}

.tweet header {
  display: flex;
}

.profile-picture {
  width: 100px;
  padding: 5px;
}

p.display-name {
flex: auto;
padding: 40px;
}

p.handle {
  padding: 40px;
  padding-right: 0px;
  opacity: 0.1;
}
p.handle:hover {
  opacity: 0.6;
}

p.submission {
  padding: 3%;
  border-bottom: 2px solid grey;
  text-align: left;
}

.tweet footer {
  padding: 1% 3%;
  display: flex;
}

p.timestamp {
  flex: auto;
  font-size: 70%;
  text-align: left;
}

.icons {
  font-size: 17px;
}